@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  color: rgb(59, 59, 59);
  line-height: 1.5;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  list-style: none;
}
